.Notebook {
  background-image: url("../assets/open-book-blank.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 65vmin;
  width: 46vmax;
  min-width: 40vmax;
  min-height: 60vmin;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
}

.Notebook-left {
  padding-top: 8vmin;
  padding-bottom: 10vmin;
  padding-left: 8vmin;
}

.Notebook-right {
  padding-top: 8vmin;
  padding-bottom: 10vmin;
  padding-right: 8vmin;
}

textarea {
  font-size: 1vw;
  width: 17vmax;
  height: 40vmin;
  resize: none;
  overflow: hidden;
  border: none;
  background: transparent;
}

@media only screen and (max-width: 800px) {
  textarea {
    font-size: 1vw;
    width: 17vmax;
    height: 38vmin;
  }
}
/* input[type="text"] {
  flex: 1;
  height: 80px;
  width: 80px;
  word-wrap: break-word;
  overflow-wrap: break-word;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  border: none;
  background: transparent;
} */
